<template>

  <div class="modal" :class="addmodal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" @click="close"></button>
    </header>
    <section class="modal-card-body">
    <form>
      <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input"  name="name"  :class="{'is-danger':errors.name}" type="text" placeholder="name" v-model="list.name">
          </div>
          <small v-if="errors.name" class="has-text-danger">{{errors.name[0]}}</small>
      </div>

      <div class="field">
          <label class="label">phone</label>
          <div class="control">
            <input class="input" type="number" name="phone"  :class= "{'is-danger':errors.phone}" placeholder="phone" v-model="list.phone">
          </div>
          <small v-if="errors.phone" class="has-text-danger">{{errors.phone[0]}}</small>

      </div>

      <div class="field">
          <label class="label">email</label>
          <div class="control">
            <input class="input" type="email" name="email"  :class="{'is-danger':errors.email}" placeholder="email" v-model="list.email">
          </div>

          <small v-if="errors.email" class="has-text-danger">{{errors.email[0]}}</small>

      </div>

    </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" @click="save">Save changes</button>
      <button class="button" @click="close">Cancel</button>
    </footer>
  </div>
</div>

</template>

<script type="text/javascript">

  export default{

    props:['addmodal'],

    data(){

      return{
        list:{
          name  : "",
          phone : "",
          email : ""
        },

        errors:{

        }

      }
    },

    methods:{

      close(){
        this.$emit('closeRequest')
      },

      save(){
        axios.post('/phonebook', this.$data.list).then((response )=>this.close())
          .catch((error) =>this.errors = error.response.data.errors)
      }
    },

  }
</script>
