<template>
  <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Vue js PhoneBook</strong> by <a href="https://gitlab.com/fatma123">Fatma Abdelrahman</a>
        </p>
      </div>
</footer>
</template>
