<template>
<div >


  <nav class="panel column is-offset-2 is-8">
    <p class="panel-heading">
      Phone Book

        <button class="button is-link is-outlined" @click="openAddModal" >Add New</button>
    </p>

    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>

    <a class="panel-block is-active">
      <span  class=" column is-9">
          test1
      </span>

    <span class="panel-icon  column is-1">
      <i class="has-text-danger fa fa-trash" aria-hidden= "true"></i>
    </span>
    <span class="panel-icon  column is-1">
      <i class=" has-text-info fa fa-edit" aria-hidden= "true"></i>
    </span>
    <span class="panel-icon  column is-1">
      <i class=" has-text-primary fa fa-eye" aria-hidden= "true"></i>
    </span>

    <!-- <span class="panel-icon">
        <i class="fa fa-pencil-alt" aria-hidden= "true"></i>
      </span> -->
    </a>
  </nav>

  <add-component  :addmodal = "addActive" @closeRequest='close'></add-component>

</div>
</template>

<script>
    export default {
      data (){
        return{
             addActive : ''
        }

      },
      methods:{
        openAddModal(){
          // alert('hi');
          this.addActive= "is-active"
        },
        close(){

          this.addActive= ''
        }
      }
    }
</script>
